header, footer, article, section, hgroup, nav, figure
{
	display:block;
}

body{
	float: center;
	background-color: #26596A;
}

header
{
	color: white;
}

header h3, h1
{
	margin-left: 10px;
}

article .line{
	background-color: #104050;
	border-bottom-color: #204656;
	margin: 1.3em 0;
}

article h2{
	color: white;
}

footer .line{
	margin: 2em 0;
}

nav{
	padding:0 5px;
	position:absolute;
	right:0;
	top:20px;

	background-color:white;

	-moz-box-shadow:0 1px 1px #333333;
	-webkit-box-shadow:0 1px 1px #333333;
	box-shadow:0 1px 1px #333333;
}

nav ul li{
	display:inline;
}

nav ul li a,
nav ul li a:visited{
	color:#565656;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	margin:7px 2px;
	margin-bottom: 15px;
	margin-right: 15px;
	padding:7px 10px 4px;
	text-shadow:0 1px 1px white;
	text-transform:uppercase;
}

nav ul li a:hover{
	text-decoration:none;
	background-color:#f0f0f0;
}

nav, article, header, nav ul li a{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/* Article styles: */

#page{
	width:960px;
	margin:0 auto;
	position:relative;
}

article{
	background-color:#104050;
	margin:3em 0;
	padding:20px;
}

/* Footer styling: */

footer{
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
}

footer p{
	margin-bottom:-2.5em;
	position:relative;
}

footer a, footer a:visited{
	color:#cccccc;
	background-color:#213e4a;
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;
}

footer a:hover{
	text-decoration:none;
	background-color:#142830;
}

footer a.by{
	float:left;

}

footer a.up{
	float:right;
}

footer h3.github
{
	float:left;
	margin-right: 50px;
	margin-left: 10px;
}

footer h3.linkedIn
{
	float:left;
	margin-right: 50px;

}

footer h3.cv
{
	float:left;
	margin-right: 50px;
}