header, footer, article, section, hgroup, nav, figure
{
	display:block;
	font-family: 'Cabin';
}

body{
	float: center;
	background-color: white;
}

#top
{
	color: white;
	height:100%;
	background: url("../images/coverImage.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

article .line{
	background-color: #104050;
	border-bottom-color: #204656;
	margin: 1.3em 0;
}

article h2{
	color: white;
}

@font-face {
font-family: 'Cabin';
src: url("../fonts/Cabin-Regular.otf") format("opentype");
}

footer .line{
	margin: 2em 0;
}

header
{
	width: 100%;
	position: fixed;
	margin-top: 10px;
	top: 0;
	right: 10;
	/* Stays over anything else */
	z-index: 100;
}

#top h3, h1
{
	margin-left: 10px;
	font-size: 40px;
}

nav{
	float: right;
	/* Padding = top left right bottom */
	padding: 35px 20px 20px 0;
	height: 56px;
	display:inline-block;
	
	color: #000;

	background-color:white;

	-moz-box-shadow:0 1px 1px #333333;
	-webkit-box-shadow:0 1px 1px #333333;
	box-shadow:0 1px 1px #333333;
}

nav ul li{
	display:inline;
	text-decoration: none;
}

nav ul li a,

nav ul li a:visited{
	color:#565656;
	display:inline-block;
	float:left;
	text-align: center;	
	font-size:1.25em;
	font-weight:bold;
	margin-right: 15px;
	text-shadow:0 1px 1px white;
	text-transform:uppercase;
	text-decoration: none;
}

nav ul li a:hover{
	text-decoration:none;
	background-color:#f0f0f0;
	color: #000;
}

nav, article, header, nav ul li a{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/* Article styles: */

#page{
	width:100%;
	margin:0 auto;
	position:relative;
}

article{
	background-color:#4d79ff;
	margin:3em 0;
	padding:20px;
	height: 100%;
}

/* Footer styling: */
footer{
	position: fixed;
	bottom: 0;
	right: 10;
}

ul.social li {
	display: inline;
}

ul.social li img {
	height: 50px;
}

